/*RESETEO LOS VALORES DE DEFAULT QUE VIENEN CON CADA NAVEGADOR*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* RESETEO EL COLOR DE DEFAULT QUE VIENE CON CADA NAVEGADOR*/
a{
    color: inherit;
}
main{
    min-height: 100vh;
}
.titulo-ubicacion{
    margin-top: 30px ;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.mapa{
    margin-left: 300px;
    width: 1200px;
    border-radius: 2rem;
}
.formulario{
    font-size: 2rem;
    max-width: 600px;
    margin-left: 550px;
}
.btn-formulario{
    margin-left: 260px;
    align-items: center;
    font-size: 2rem !important;

